<!DOCTYPE html>
<html>
<head>
  <title>Ãmbar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render template: "layouts/_navbar.html.erb"%>
	<div id="main-container" class="container-fluid">
    <div class="row">
        <%= yield %>
    </div>
  </div>
</body>
</html>
