<!DOCTYPE html>
<html>
<head>
  <title>Ãmbar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
</head>
<body>
<%= render template: "layouts/_navbar.html.erb"%>
<div class="row">
	<div class="col s12 m4 l2"></div>
		<%# image_tag("103.png",size: "2:4", class: "parallax centered col s12 m4 l8")%></div>	
	<div class="col s12 m4 l2"></div>
</div>
    
<%= yield %>
<%= render template: "layouts/_footer.html.erb"%>
</body>
</html>
